*.ncd
*.ngd
*.ngr
*.stx
*.syr
*.xst
*.map
*.exe
*.log
*.prj
*.lso
*.cmd_log
*.mif
*.bld
*.mrp
*.html
*.tfi
*.cmd
*.wdb
xst/
isim/
iseconfig/
_xmsgs/
*.xml
*.ngm
*.xrpt
*.ngc
_ngo/
*.wcfg
*.pcf
xlnx_auto_0_xdb/
*.ini
*.xmsgs
ipcore_dir/
*.xise
*.gise
